---
layout: default
excerpt_separator: <!--more-->
---
<div id="content">
    {% for post in site.posts %}
        <div class="post">
            <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            <p class="post-data">
                <span class="postcategory">
                    {% for category in post.categories %}
                        {% unless forloop.first %},{% endunless %}
                        {{ category }}
                    {% endfor %}
                </span>
            </p>

            {{ post.excerpt }}
        </div>
    {% endfor %}
</div>
