<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <table width="100%">
                    <tr>
                        <td width="1%">
                            <i class="fa fa-envelope"></i>
                        </td>
                        <td width="49%">
                            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                        </td>
                        <td width="1%">
                            <i class="fa fa-twitter"></i>
                        </td>
                        <td width="49%">
                            <a href="https://twitter.com/{{ site.twitter_username }}">twitter.com/{{ site.twitter_username }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-linkedin"></i>
                        </td>
                        <td>
                            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">linkedin.com/in/{{ site.linkedin_username }}</a>
                        </td>
                        <td>
                            <i class="fa fa-github"></i>
                        </td>
                        <td>
                            <a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>