<div id="header">
	<h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p class="description">{{ site.description }}</p>

	<ul id="nav">
        <li>
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
            <a class="page-link" href="https://bsky.app/profile/ema16789.bsky.social">
                <i class="fa-brands fa-bluesky"></i>
            </a>
        </li>
        <li>
            <a class="page-link" href="https://github.com/EmanueleMinotto">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        {% for page in site.pages %}
            {% if page.title %}
            <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
	</ul>
</div>
