<div id="header">
	<h1 id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p class="description">{{ site.description }}</p>

    <p class="socialmedia">
        <a href="https://github.com/EmanueleMinotto">
            <img src="/assets/img/socialmedia/github.png" alt="GitHub" /> GitHub
        </a>
        <a href="https://mastodon.social/@EmanueleMinotto">
            <img src="/assets/img/socialmedia/mastodon.png" alt="Mastodon" /> Mastodon
        </a>
    </p>

	<ul id="nav">
        <li class="{% if page.url == '/' %}current_home{% endif %}">
            <a href="{{ site.baseurl }}/">Home</a>
        </li>
        {% for subpage in site.pages %}
            {% if subpage.title %}
            <li class="{% if page.url == subpage.url %}current_page_item{% endif %}">
                <a class="page-link" href="{{ subpage.url | prepend: site.baseurl }}">{{ subpage.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
	</ul>
</div>
