---
layout: default
---
<div id="content">
    <div class="post">
        <h2 class="post-title">{{ page.title }}</h2>
        <p class="post-data">
            <span class="postcategory">
                {% for category in page.categories %}
                    {% unless forloop.first %},{% endunless %}
                    {{ category }}
                {% endfor %}
            </span>
        </p>

        {{ content }}
    </div>

    <div id="disqus_thread"></div>
    <script>var disqus_shortname="emanueleminotto";(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})()</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs')</script>
</div>
<div id="sidebar">
    {% include post_sidebar.html %}
</div>
